<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JDBCProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>userlogin</display-name>
    <servlet-name>userlogin</servlet-name>
    <servlet-class>JDBCProject.userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userlogin</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stocks</display-name>
    <servlet-name>stocks</servlet-name>
    <servlet-class>JDBCProject.stocks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stocks</servlet-name>
    <url-pattern>/stocks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>transaction</display-name>
    <servlet-name>transaction</servlet-name>
    <servlet-class>JDBCProject.transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transaction</servlet-name>
    <url-pattern>/transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>JDBCProject.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllStockInfo</display-name>
    <servlet-name>AllStockInfo</servlet-name>
    <servlet-class>JDBCProject.AllStockInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllStockInfo</servlet-name>
    <url-pattern>/AllStockInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompanyLogin</display-name>
    <servlet-name>CompanyLogin</servlet-name>
    <servlet-class>JDBCProject.CompanyLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompanyLogin</servlet-name>
    <url-pattern>/CompanyLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewStock</display-name>
    <servlet-name>CreateNewStock</servlet-name>
    <servlet-class>JDBCProject.CreateNewStock</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewStock</servlet-name>
    <url-pattern>/CreateNewStock</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SingleStockInfo</display-name>
    <servlet-name>SingleStockInfo</servlet-name>
    <servlet-class>JDBCProject.SingleStockInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleStockInfo</servlet-name>
    <url-pattern>/SingleStockInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PayDividends</display-name>
    <servlet-name>PayDividends</servlet-name>
    <servlet-class>JDBCProject.PayDividends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PayDividends</servlet-name>
    <url-pattern>/PayDividends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LaunchIPO</display-name>
    <servlet-name>LaunchIPO</servlet-name>
    <servlet-class>JDBCProject.LaunchIPO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LaunchIPO</servlet-name>
    <url-pattern>/LaunchIPO</url-pattern>
  </servlet-mapping>
</web-app>